/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

/* COMMON */
header,
main {
  display: flex;
  align-items: center;
  padding: 2em;
}

/* HEADER */
header {
  background-image: url("img/header-bg.png");
  height: 208px;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  color: white;
}

header h1 {
  font-size: 3em;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: ease all 0.5s;
}

header a:hover,
header a:focus {
  transform: scale(1.05);
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 189px;
  height: 38px;
  border-radius: 6px;
  overflow: hidden;
  width: calc(100% - 6em);
}

nav button,
nav img,
nav input {
  cursor: pointer;
}

nav button {
  width: 120px;
  height: 100%;
  color: white;
  background-color: #4b4b4b;
  border: none;
}

nav input {
  flex-grow: 1;
  border: none;
  color: #a5a5a5;
}

nav input:focus {
  outline: none;
}

nav input,
nav img {
  padding: 0.75em;
  background-color: #2e2e2f;
}

nav img {
  padding-right: 0;
}

/* MAIN */
main {
  flex-direction: column;
  justify-content: center;
  color: #787878;
  font-size: 1.25em;
  min-height: calc(100vh - 208px);
}

main img {
  width: 10vw;
}

.movie {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.5em;
  margin-top: 1em;
  border-radius: 6px;
  color: white;
  padding: 2em 0;
  border-bottom: #2c2c2c solid 1.5px;
}

.movie:last-child {
  border-bottom: none;
}

main h2 {
  font-size: 1.5em;
}

.title,
.general-info {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 0.5em;
}

.title img {
  height: 1em;
  width: 1em;
}

.add-movie-btn {
  display: flex;
  align-items: center;
  margin-top: 1em;
  color: white;
  background-color: transparent;
  border: none;
  gap: 0.5em;
  cursor: pointer;
  text-decoration: none;
  transition: ease all 0.5s;
}

.add-movie-btn:hover,
.add-movie-btn:focus {
  transform: scale(1.05);
}

.poster {
  width: 15vw;
}

.movie-info {
  width: 100%;
}

.general-info {
  width: 100%;
  justify-content: space-between;
  padding-right: 2vw;
}

.watchlist-btn,
.remove-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

.watchlist-btn img,
.remove-btn img {
  height: 16px;
  width: 16px;
}

.padding-left {
  padding-left: 0.5em;
}

.more-info {
  color: #a5a5a5;
}

.read-more-info {
  margin-left: 0.5em;
  color: white;
  cursor: pointer;
}

.full-plot {
  display: none;
}

.icon {
  height: 1.25em;
  width: 1.25em;
}

.hidden {
  display: none;
}

@media (min-width: 1000px) {
  .movie {
    width: 50%;
  }
}
